In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import math

titanic_dataset= pd.read_csv('train.csv')
titanic_dataset.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [2]:
print("Number of Passengers:"+str(len(titanic_dataset)))

Number of Passengers:891

In [3]:
##Analyse Data
#sns.countplot(x="Survived",data=titanic_dataset)

In [4]:
#sns.countplot(x="Survived",hue="Sex",data=titanic_dataset)

In [5]:
#sns.countplot(x="Survived",hue="Pclass",data=titanic_dataset)

In [6]:
#titanic_dataset['Age'].plot.hist()

In [7]:
#titanic_dataset['Fare'].plot.hist()

In [8]:
#sns.countplot(x="SibSp",data=titanic_dataset)

In [9]:
## Data Wrangling ---Removing dataset with null value
#titanic_dataset.isnull()

In [10]:
#titanic_dataset.isnull().sum()

In [11]:
#sns.heatmap(titanic_dataset.isnull(),yticklabels=False)

In [12]:
#sns.boxplot(x='Pclass',y='Age',data=titanic_dataset)

In [13]:
#titanic_dataset.drop('Cabin',axis=1,inplace=True)
#titanic_dataset.dropna(inplace=True)
#sns.heatmap(titanic_dataset.isnull(),yticklabels=False,cbar=False)

In [14]:
#titanic_dataset.isnull().sum()
#titanic_dataset.head()

In [15]:
#sex=pd.get_dummies(titanic_dataset['Sex'],drop_first=True)
#sex.head(5)

In [16]:
#embark=pd.get_dummies(titanic_dataset['Embarked'],drop_first=True)
#embark.head(5)

In [17]:
#pcl=pd.get_dummies(titanic_dataset['Pclass'],drop_first=True)
#pcl.head(5)

In [18]:
#titanic_dataset=pd.concat([titanic_dataset,sex,embark,pcl],axis=1)
#titanic_dataset.head(5)

In [19]:
#titanic_dataset.drop('Name',axis=1)
titanic_dataset.drop(["Cabin","Sex","Embarked","Pclass","Name","Ticket","Age","SibSp","Fare","Parch"],axis=1,inplace=True)
titanic_dataset.head()

   PassengerId  Survived
0            1         0
1            2         1
2            3         1
3            4         1
4            5         0

In [20]:
for x in range(473):
    titanic_dataset.drop([x],axis=0,inplace=True)
titanic_dataset.head()

     PassengerId  Survived
473          474         1
474          475         0
475          476         0
476          477         0
477          478         0

In [21]:
print("Number of Passengers:"+str(len(titanic_dataset)))

Number of Passengers:418

In [22]:
##Train Data
x=titanic_dataset.drop('Survived',axis=1)
y=titanic_dataset['Survived']

In [23]:
    from sklearn.model_selection import train_test_split

In [24]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.5,random_state=1)

In [25]:
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)
logmodel=LogisticRegression()
logmodel.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [26]:
predictions=logmodel.predict(X_test)

In [27]:
from sklearn.metrics import classification_report
import sklearn.exceptions
warnings.filterwarnings("ignore", category=sklearn.exceptions.UndefinedMetricWarning)

In [28]:
classification_report(y_test,predictions)

'              precision    recall  f1-score   support\n\n           0       0.63      1.00      0.77       131\n           1       0.00      0.00      0.00        78\n\n   micro avg       0.63      0.63      0.63       209\n   macro avg       0.31      0.50      0.39       209\nweighted avg       0.39      0.63      0.48       209\n'

In [29]:
from sklearn.metrics import confusion_matrix

In [30]:
confusion_matrix(y_test,predictions)

array([[131,   0],
       [ 78,   0]])

In [31]:
from sklearn.metrics import accuracy_score

In [32]:
accuracy_score(y_test,predictions)

0.6267942583732058

In [33]:
print(y_train)

760    0
517    0
758    0
586    0
826    0
684    0
581    1
834    0
642    0
552    0
871    1
740    1
557    0
481    0
873    0
572    1
837    0
818    0
838    1
695    0
501    0
504    1
782    0
528    0
886    0
505    0
817    0
521    0
820    1
743    0
      ..
480    0
614    0
559    1
825    0
714    0
688    0
541    0
523    1
629    0
725    0
868    0
830    1
727    1
749    0
651    1
754    1
863    0
710    1
544    0
602    0
617    0
808    0
606    0
676    0
866    1
728    0
545    0
869    1
708    1
510    1
Name: Survived, Length: 209, dtype: int64

In [34]:
print(y_test)

831    1
637    0
490    0
540    1
477    0
850    0
687    0
763    1
854    0
478    0
811    0
700    1
664    1
778    0
824    0
882    0
703    0
658    0
574    0
535    1
764    0
724    1
701    1
502    0
729    0
874    1
612    1
771    0
861    0
520    1
      ..
765    1
806    0
867    0
618    1
681    1
515    0
633    0
812    0
711    0
718    0
691    1
883    0
674    0
819    0
772    0
686    0
620    0
696    0
573    1
507    1
661    0
583    0
648    0
526    1
608    1
877    0
627    1
492    0
615    1
631    0
Name: Survived, Length: 209, dtype: int64

In [35]:
titanic_dataset

     PassengerId  Survived
473          474         1
474          475         0
475          476         0
476          477         0
477          478         0
478          479         0
479          480         1
480          481         0
481          482         0
482          483         0
483          484         1
484          485         1
485          486         0
486          487         1
487          488         0
488          489         0
489          490         1
490          491         0
491          492         0
492          493         0
493          494         0
494          495         0
495          496         0
496          497         1
497          498         0
498          499         0
499          500         0
500          501         0
501          502         0
502          503         0
..           ...       ...
861          862         0
862          863         1
863          864         0
864          865         0
865          866         1
866          867         1
867          868         0
868          869         0
869          870         1
870          871         0
871          872         1
872          873         0
873          874         0
874          875         1
875          876         1
876          877         0
877          878         0
878          879         0
879          880         1
880          881         1
881          882         0
882          883         0
883          884         0
884          885         0
885          886         0
886          887         0
887          888         1
888          889         0
889          890         1
890          891         0

[418 rows x 2 columns]

In [36]:
print("Number of Passengers:"+str(len(titanic_dataset)))

Number of Passengers:418

In [37]:
from IPython.display import HTML
import base64  
import pandas as pd  

def create_download_link( df, title = "Download CSV file", filename = "data.csv"):  
    csv = df.to_csv(index =False)
    b64 = base64.b64encode(csv.encode())
    payload = b64.decode()
    html = '<a download="{filename}" href="data:text/csv;base64,{payload}" target="_blank">{title}</a>'
    html = html.format(payload=payload,title=title,filename=filename)
    return HTML(html)

create_download_link(titanic_dataset)